.button {
  display: flex;
  padding: 10px 12px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  transition: 0.3s ease;
}
.red {
  background: var(--red);
  &:hover {
    background: var(--red-dark);
  }
}
.blue {
  background: var(--deep-blue);
  &:hover {
    background: var(--blue);
  }
}
