.description {
  color: var(--black);
  font-size: 20px;
  white-space: preserve;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.img {
  img {
    object-fit: contain;
    max-height: 200px;
    width: 100%;
  }
}
video,
.img {
  width: 100%;
}
.link {
  color: var(--white);
  background: var(--orange);
  display: grid;
  place-content: center;
  padding: 8px 0;
  font-size: 18px;
  border-radius: 8px;
}
