.container {
  // background: var(--deep-blue);
  background: var(--main-gradient);
  padding: 48px 0;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 48px;
  @media (max-width: 767.98px) {
    gap: 30px;
  }
  @media (max-width: 575.98px) {
    gap: 20px;
  }
}
.title {
  font-size: 38px;
  font-weight: 700;
  color: var(--white);
  @media (max-width: 767.98px) {
    font-size: 30px;
  }
  @media (max-width: 575.98px) {
    font-size: 26px;
  }
}
.card {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  &__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    padding: 20px;
  }
  &__text {
    display: flex;
    flex-direction: column;
    gap: inherit;
  }
  &__name,
  &__description {
    color: white;
  }
  &__name {
    font-size: 24px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: 600;
  }
  &__description {
    font-size: 16px;
    line-height: 20px;
  }
  &__link {
    button {
      display: flex;
      gap: 5px;
      i {
        color: currentColor;
        line-height: 0.9;
        margin-bottom: 1px;
      }
    }
  }
  &__preview {
    width: 100%;
    border-radius: 12px;
    min-height: 370px;

    &:hover {
      img {
        scale: 1.01;
      }
    }
    button,
    img {
      border-radius: inherit;
    }
    img {
      width: 100%;
      object-fit: cover;
      transition: 0.3s ease;
    }
  }
}
