.grid {
  width: 100%;
  display: flex;
  gap: 8px;
  position: relative;
}
.column {
  flex: 1;
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: center;
}
.item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  // overflow-x: clip;
}


.item:nth-child(odd) {
  img {
    animation: rotate 2.5s linear infinite;
  }
}
.item:not(:nth-child(odd)) {
  img {
    animation: rotateAnother 2.5s linear infinite;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(30deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
@keyframes rotateAnother {
  0% {
    transform: rotate(30deg);
  }

  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(30deg);
  }
}

.last_item {
  position: relative;
  &::after {
    content: 'Команда "Перфоратор" совместно с "КИБЕРПРОТЕКТ" поздравляют вас с новым годом!';
    position: absolute;
    width: clamp(230px, 77.5vw, 1113px);
    height: 100%;
    left: 100%;
    font-size: clamp(18px, 6vw, 32px);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 3;
    padding: 0 20px;
    background: var(--light-blue-gradient);
    color: var(--white);
    border-radius: 12px;
    margin-left: 12px;

    @media screen and (max-width: 960px) {
      width: max(230px, 61.5vw);
    }

    @media screen and (max-width: 375px) {
      display: none;
      background: none;
    }
  }
}
