.layout {
  display: flex;
  gap: 30px;
}
.aside {
  width: 350px;
  min-height: 100dvh;
  background: var(--deep-blue);
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 30px 20px;
}
.links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.link {
  font-size: 26px;
  cursor: pointer;
}
.icon {
  path {
    fill: var(--white);
  }
}
.content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background: var(--deep-blue);
  border-radius: 0 0 6px 6px;
  padding: 10px 20px;
}
