.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.preview {
  img {
    width: 150px;
    aspect-ratio: 1;
    object-fit: cover;
  }
}
.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 600px;
}
