.header {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 10;
  background: white;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(25, 37, 68, 0.33);
  -moz-box-shadow: 0px 4px 4px 0px rgba(25, 37, 68, 0.33);
  box-shadow: 0px 4px 4px 0px rgba(25, 37, 68, 0.33);
  &::before {
    position: absolute;
    content: "";
    top: 0;
    width: 100%;
    height: 50px;
    left: 0;
    background: url(/christmas-lights.svg);
  }
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  position: relative;
}
.logo {
  width: 143px;
  height: 36px;
}
.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  h1 {
    color: var(--deep-blue);
    font-weight: 700;
    font-size: 24px;
  }
}
.actions {
  display: flex;
  gap: 15px;
}
