.header {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 10;
  background: var(--white);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(25, 37, 68, 0.33);
  -moz-box-shadow: 0px 4px 4px 0px rgba(25, 37, 68, 0.33);
  box-shadow: 0px 4px 4px 0px rgba(25, 37, 68, 0.33);
  &::before {
    position: absolute;
    content: "";
    top: 0;
    width: 100%;
    height: 50px;
    left: 0;
    animation: changeLights 2s infinite;
    rotate: 180deg;
    background-size: contain;
    @media (max-width: 575.98px) {
      top: -10px;
    }
  }
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  position: relative;
  @media (max-width: 575.98px) {
    height: 45px;
  }
}
.logo {
  svg {
    width: 143px;
    height: 36px;
    @media (max-width: 575.98px) {
      width: 85px;
      height: 20px;
    }
  }
}
.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  h1 {
    color: var(--deep-blue);
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    @media (max-width: 575.98px) {
      font-size: 12px;
    }
  }
  @media (max-width: 991.98px) {
    position: unset;
    transform: unset;
  }
}
.actions {
  display: flex;
  gap: 15px;
  @media (max-width: 767.98px) {
    display: none;
  }
}
.menu {
  display: none;
  @media (max-width: 767.98px) {
    display: block;
  }
  &__icon {
    position: relative;
    z-index: 1;
    display: grid;
    place-content: center;
    svg {
      width: 30px;
      height: 30px;
    }
  }
  &__nav {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    background-color: var(--white);
    max-width: 280px;
    width: 100%;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 80px 20px 20px 20px;
  }
}

@keyframes changeLights {
  0% {
    background: url("/christmas-lights.svg");
  }
  50% {
    background: url("/christmas-lights2.svg");
  }
  100% {
    background: url("/christmas-lights.svg");
  }
}
