.footer {
  background: var(--deep-blue);
  background: linear-gradient(180deg, var(--deep-blue) 0%, var(--blue) 100%);
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  @media (max-width: 575.98px) {
    height: 45px;
  }
}
.copyright {
  color: var(--light-gray);
  font-size: 24px;
  @media (max-width: 575.98px) {
    font-size: 16px;
  }
}
