.recommendation {
  width: 100%;
  height: 200px;
  background: var(--light-gray);
  display: grid;
  place-content: center;
  border-radius: 12px;
  position: relative;
  user-select: none;
  @media (max-width: 575.98px) {
    height: 170px;
  }
  span {
    color: var(--white);
    font-size: 62px;
    font-weight: 700;
    z-index: 1;
  }
  &__active {
    background: linear-gradient(90deg, #0055cc 0%, #1a79ff 100%);
    cursor: pointer;
    .background {
      opacity: 0.5;
      filter: unset;
    }
    &:hover {
      background: var(--light-blue-gradient-hover);
    }
  }
  &__odd {
    height: 300px;
    @media (max-width: 575.98px) {
      height: 250px;
    }
  }
}
.background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  animation: unset !important;
  z-index: 0;
  opacity: 0.3;
  filter: blur(3px);
  max-height: 170px;
  @media (max-width: 575.98px) {
    height: 120px;
    width: 120px;
  }
}


.viewed__icon {
  font-size: clamp(30px, 6vw, 70px); 
  color: var(--light-gray); 
  position: absolute; 
  left: 50%; 
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  z-index: 3;
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  backdrop-filter: blur(2px);
  background-color: var(--deep-blue-a);
  border-radius: 12px;
}

.viewed__text {
  font-size: clamp(16px, 3vw, 20px) !important;
  color: var(--light-gray) !important;
}