.recommendation {
  width: 100%;
  height: 200px;
  background: var(--light-gray);
  display: grid;
  place-content: center;
  border-radius: 12px;
  position: relative;
  span {
    color: var(--white);
    font-size: 55px;
    font-weight: 700;
    z-index: 1;
  }
  &__active {
    background: var(--red);
    cursor: pointer;
    .background {
      opacity: 0.9;
      filter: unset;
    }
  }
  &__odd {
    height: 300px;
  }
}
.background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  animation: unset !important;
  z-index: 0;
  opacity: 0.3;
  filter: blur(3px);
}
