.history {
  height: calc(100dvh - 90px);
  background: var(--deep-blue);
  background: linear-gradient(110deg, var(--deep-blue) 0%, var(--blue) 100%);
  position: relative;
  display: grid;
  place-content: center;
  padding: 20px 0;
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 35%;
    width: 100%;
    background-image: url("/wave.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  @media (max-width: 575.98px) {
    height: calc(100dvh - 45px);
  }
}
.content {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 12px;
  position: relative;
  background: rgba(25, 37, 68, 0.3);
  border-radius: 12px;
  @media (max-width: 767.98px) {
    gap: 30px;
  }
  @media (max-width: 575.98px) {
    gap: 20px;
  }
}
.title {
  text-transform: uppercase;
  color: var(--orange);
  font-size: 38px;
  font-weight: 700;
  @media (max-width: 767.98px) {
    font-size: 30px;
  }
  @media (max-width: 575.98px) {
    font-size: 26px;
  }
}
.list {
  display: inherit;
  flex-direction: inherit;
  gap: inherit;
  &__item {
    display: flex;
    gap: inherit;
    svg {
      height: 50px;
      min-width: 50px;
    }
    @media (max-width: 767.98px) {
      gap: 20px;
      p {
        font-size: 24px;
      }
      svg {
        height: 30px;
        min-width: 30px;
      }
    }
    @media (max-width: 575.98px) {
      gap: 10px;
      p {
        font-size: 20px;
      }
      svg {
        height: 30px;
        min-width: 30px;
      }
    }
  }
}
