@font-face {
  font-family: "Loos";
  font-weight: 300;
  src: url("../fonts/Loos Normal-Light.ttf");
}
@font-face {
  font-family: "Loos";
  font-weight: 400;
  src: url("../fonts/Loos Normal-Regular.ttf");
}
@font-face {
  font-family: "Loos";
  font-weight: 500;
  src: url("../fonts/Loos Normal-Medium.ttf");
}
@font-face {
  font-family: "Loos";
  font-weight: 700;
  src: url("../fonts/Loos Normal-Bold.ttf");
}
