@import "./font.scss";
@import "./reset.scss";
@import "./variables.scss";

html {
  scrollbar-gutter: stable;
}

::-webkit-scrollbar {
  background: white;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--deep-blue);
  width: 100%;
}

#root {
  height: 100%;
}

.main {
  height: 100%;
  margin-top: 90px;
}
.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
* {
  color: var(--white);
  font-size: 30px;
  font-weight: 500;
  font-family: Loos, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
// .swiper-wrapper {
//   max-height: calc(-180px + 100dvh);
// }
