@import "./font.scss";
@import "./reset.scss";
@import "./variables.scss";

#root {
  height: 100%;
}

.main {
  height: 100%;
}
.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
* {
  color: var(--white);
  font-size: 30px;
  font-weight: 500;
  font-family: Loos, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.swiper-container {
  max-height: calc(100dvh - 180px);
}
