:root {
  // Colors
  --white: #fff;
  --orange: #fb7321;
  --light-gray: #d9dfe8;
  --black: #000;
  --deep-blue: #192544;
  --blue: #3f5daa;
  --red: #d20a11;
  --red-dark: #a8070d;

  // Screen Sizes
  --x-small: 575.98px;
  --small: 767.98px;
  --medium: 991.98px;
  --large: 1199.98px;
  --x-large: 1399.98px;
  --big: 1592.98px;
  --x-big: 1829.98px;
}
