.auth {
  min-height: calc(100dvh - 180px);
  display: grid;
  place-content: center;
  gap: 48px;
  &__title {
    color: var(--black);
    text-align: center;
  }
  @media (max-width: 575.98px) {
    min-height: calc(100dvh - 90px);
  }
}
.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.block {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.title {
  color: var(--deep-blue);
}
.recommendations {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.recommendation {
  width: 120px;
  aspect-ratio: 1;
  background: var(--light-gray);
  border-radius: 50%;
  display: grid;
  place-content: center;
  color: var(--deep-blue);
  cursor: pointer;
}
.table {
  :global(.p-column-title) {
    color: var(--black);
  }

  * {
    color: var(--deep-blue);
  }
}
.edit {
}
